<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="form.php" method="get">
            <label for="username">Utilisateur</label>
            <input type="text" name="username" id="username"><br>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="pass"><br>
            <input type="submit" value="Valider">
        </form>
    </div>
    <script src="{{javascript_js}}">{{javascript}}</script>
</body>
</html>